:root {
  --color1: #50514f;
  --color2: #f25f5c;
  --color3: #ffe066;
  --color4: #247ba0;
  --color5: #70c1b3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  height: 100vh;
}

section.panel {
  height: 100%;
  width: 100%;
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}
.cta {
  padding: 1rem;
  font-weight: 900;
  width: 20rem;
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  background-color: var(--color2);
  color: var(--color3);
  text-decoration: none;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
}

.btn__nombre {
  padding: 0.5rem;
  font-weight: 900;
  width: 15rem;
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  background-color: var(--color2);
  color: var(--color3);
  text-decoration: none;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
}

.titulo__principal {
  font-size: 4rem;
  margin-bottom: 3rem;
}

section.panel.hidden {
  display: none;
}

section.start {
  background-color: var(--color1);
  text-align: center;
  display: grid;
  place-content: center;
  gap: 1rem;
}

section.center {
  background-color: var(--color4);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "titulo titulo titulo"
    "juego juego juego"
    "juego juego juego"
    "juego juego juego"
    "juego juego juego"
    "formulario puntuacion next";
}

.titulo__center {
  grid-area: titulo;
  align-self: center;
  color: var(--color3);
}

.box__juego {
  grid-area: juego;
  background-color: var(--color5);
  border-radius: 10px;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  position: relative;
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  perspective: 600px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(black, gray);
  display: grid;
  place-content: center;
  font-size: 5rem;
  border-radius: 1rem;
  backface-visibility: hidden;
  user-select: none;
}

.back {
  background: linear-gradient(steelblue, lightsteelblue);
  transform: rotateY(180deg);
}

.card.flipped .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.form__principal {
  grid-area: formulario;
  justify-self: center;
  align-self: center;
}

.input__user__principal {
  background-color: var(--color1);
  color: var(--color5);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 0.5rem;
  width: 300px;
  height: 40px;
  margin-bottom: 1rem;
}

.span__center {
  grid-area: puntuacion;
  justify-self: center;
  align-self: center;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: var(--color3);
}

.btn__center {
  grid-area: next;
  margin: 1rem;
}

section.end {
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.titulo__end {
  color: var(--color2);
  font-size: 4rem;
}

.box__puntuaciones {
  border-radius: 10px;
  background-color: var(--color1);
  color: var(--color4);
  width: 80%;
  height: 60%;
  padding: 1rem;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.ul__puntuaciones li {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.ul__puntuaciones h7 {
  justify-self: start;
}
